.overlay-container {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.806);
  z-index: 2;
}

.profile-container {
  background-color: rgba(255, 255, 255, 0.603);
  backdrop-filter: blur(10px);

  width: 90%;
  height: max-content;
  border-radius: 10px;
  border: 1px solid rgba(179, 179, 179, 0.475);
  box-shadow: 4px 4px 5px rgba(126, 126, 126, 0.516);

  padding: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 10px;
}

.profile-container > div {
  width: 100%;
  height: 100%;
}

.person-info {
  display: flex;
  gap: 10px;
}

.image-container {
  border-radius: 50%;
  background-color: black;
  padding: 5px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  height: 100%;
  align-self: center;
}
.image-container img {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.username {
  color: grey;
}

.profile-area{
    grid-row: 1 / span 2;
}

.address-area{
    grid-column: 2;
}

.contact-area{
    grid-column: 2;
}

@media only screen and (max-width: 600px) {
    .profile-area {
      grid-row: 1;
    }
    .contact-area {
      grid-row: 2;
      grid-column: 1;
    }
    .address-area {
      grid-row: 3;
      grid-column: 1;
    }
  }